<h1> <%= @recipe.title %> のレシピ詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @recipe.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @recipe.title %></td>
  </tr>
  <tr>
    <th>所要時間</th>
    <td><%= @recipe.making_time %></td>
  </tr>
    <tr>
    <th>量</th>
    <td><%= @recipe.serves %></td>
  </tr>
    <tr>
    <th>材料</th>
    <td><%= @recipe.ingredients %></td>
  </tr>
    <tr>
    <th>費用</th>
    <td><%= @recipe.cost %></td>
  </tr>
</table>

<%= link_to 'このレシピを編集する', edit_recipe_path(@recipe), class: 'btn btn-light' %>
<%= link_to 'このレシピを削除する', @recipe, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>